[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc_version = "0.8.27"
remappings = [
    "@openzeppelin/contracts/=lib/openzeppelin-contracts/contracts/",
    "@openzeppelin/contracts-upgradeable/=lib/openzeppelin-contracts-upgradeable/contracts/"
]



[rpc_endpoints]
celo-sepolia = "https://forno.celo-sepolia.celo-testnet.org/"
celo = "https://forno.celo.org"



# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options



